<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Listelerim</h2>
            <a routerLink="/ui/lists/addlist" class="btn btn-primary">Liste Ekle</a>



            <div class="row my-2">

                <div class="col-md-3" *ngFor="let item of list">

                    <div class="card text-bg-info  mb-3" style="max-width: 18rem;">

                        <div class="card-header text-center">
                            {{item.name}} - {{item.status}}
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="row align-items-center">

                                    <div class="col-12">
                                        <h6 class="card-title text-center">Toplam Ürün Sayısı</h6>
                                        <p class="card-text">
                                        <h2></h2>
                                    </div>

                                    <div *ngIf="item.status"><button class="btn btn-success my-2" (click)="selectProduct(item.id)">Listeye Ürün
                                            Ekle</button></div>
                                    <div *ngIf="!item.status"><button class="btn btn-warning my-2" (click)="viewList(item.id)">Listeyi Göster</button></div>
                                    <div><button class="btn btn-danger" (click)="delete(item.id)">Sil</button></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

