
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Dashboard</h2>
            
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="card text-bg-success mb-3" >
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row align-items-center">
                                        
                                        <div class="col-12">
                                            <h5 class="card-title text-center">KULLANICI</h5>
                                            <p class="card-text"><h2>{{userCount}}</h2>
                                        </div>
            
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-bg-warning mb-3" >
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row align-items-center">
                                       
                                        <div class="col-12">
                                            <h5 class="card-title text-center">KATEGORİ</h5>
                                            <p class="card-text"><h2>{{categoryCount}}</h2>
                                        </div>
            
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-bg-info  mb-3" >
                            <div class="card-body">
                                <div class="container text-center">
                                    <div class="row align-items-center">
                                        
                                        <div class="col-12">
                                            <h5 class="card-title text-center">ÜRÜN</h5>
                                            <p class="card-text"><h2>{{productCount}}</h2>
                                        </div>
            
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>