 
 {{currentDataId$}}-{{currentDataString$}}
 


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Açıklama Ekle</h2>
            <form [formGroup]="updateListForm">
                <div class="modal-body">
            
                    <div class="mb-3">
            
                        <label for="">Açıklama</label>
                        <input class="form-control" formControlName="description" />
                    </div>
                    <div class="mb-3">
            
                       <label for="">id</label>
                       <input class="form-control" formControlName="id" />
                   </div>
                </div>
                <div class="modal-footer justify-content-between">
                   <div><button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal" (click)="returnPage()">Vazgeç</button></div> 
                    <div><button type="submit" class="btn btn-warning">Güncelle</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
 

