
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-5">
            <form [formGroup]="updateListForm" (ngSubmit)="updateDescription()">
                <div class="card">



                    <div class="card-header">
                        <h2>Açıklama Ekle</h2>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">

                            <label for="">Açıklama</label>
                            <input class="form-control" formControlName="description" />
                        </div>
                        <p class="text-danger"><span>{{descriptionValid}}</span></p>
                       
                        <div class="mb-3"><div class="row">
                           <div class="col-md-8 text-left"><button type="button" class="btn btn-secondary" (click)="returnPage()">Vazgeç</button></div> 
                           <div class="col-md-3 text-right"><button class="btn btn-warning">Güncelle</button></div> 
                        </div></div>
                        
                        
                    
                    </div>

                    
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>




            </form>
        </div>
    </div>
</div>